[Unit] 
Description=gRPC Auth # Cистема не читает содержиоме этого параметра, это созданно для человека/администратора для понимания что тут происходит, в данном случае нам этот параметр говорит о том, что это юнит, связанный с аутентификацией gRPC-сервиса
After=network.target #  !эта настройка говорит вашей службе, что она должна ждать пока система завершит настройку сети, прежде чем сама начнет работу. Представьте ситуацию, когда ваша служба пытается подключиться к удаленному серверу или отправлять данные по сети сразу после загрузки операционной системы. Если сеть еще не готова, попытка подключения закончится неудачей. Именно для предотвращения таких ситуаций используется After=. это устройство или программное обеспечение, которое позволяет компьютеру общаться с другими устройствами через сеть. Например, Wi-Fi адаптер или Ethernet-карта являются такими интерфейсами. Когда система загружается, ей нужно настроить эти устройства и убедиться, что они работают правильно, прежде чем запускать службы, зависящие от сети.

[Service] # В этой секции прописаны конкретные инструкции по поведению сервиса. Сюда входят команды для запуска и остановки, права доступа, окружение и прочие характеристики, определяющие работу сервиса.
User=root # определяет полномочия программы, то есть насколько развязанно она может работать с системой, мы определяем права не пользователя, а наоборот программы относительно системы
WorkingDirectory=/root/apps/grpc-auth --config=/root/apps/grpc-auth/config/prod.yaml # !(ПУТЬ ДО ПРОЕКТА УЖЕ НА УДАЛЁННОМ СЕРВЕРЕ)! Указываем путь до рабочей директории(рабочую область), это нужно для того, что при запуске программы, программа банально видела другие файлы при запуске, то есть нашим функциям нужен например параметр из файла конфига, но если мы укажем слишком узкую область, например путь к одной папке, а не всему проекту, программа просто не увидит этот конфиг и параметры просто не будет видно программе и она не поймёт что за параметры передаются, поэтому мы указываем раюочую область со всеми файлами и зависимостями что бы программа могла нормально функционировать 
ExecStart=/root/apps/grpc-auth/grpc-auth # А тут указываем путь непосредственно для самого исполняемого файла, то есть указываем путь до файла, который потребуется запустить
Restart=always # параметр Restart отвечает за перезапуск сервера, а данный вариант параметра always предписывает, независимо от причин завершения процесса, система будет запускать его снова и снова
RestartsSec=4 # время ожидания перед повторным запуском сервера, в данном случае 4 секунды
StandardOutput=inherit # Определяет, куда будет направляться стандартный вывод (обычно это информация, отображаемая на экране консоли). Вариант inherit означает, что ваш сервис отправляет весь вывод туда же, куда отправляет родительский процесс (чаще всего это терминал или журнал сообщений).
EnvironmentFile=/root/apps/grpc-auth/config.env # Парамер, где нужно указывать переменные среды для нормального функционирования приложения

[Install]
WantedBy=multi-user.target # дословно, запуск программы произойдёт тогда, когда система достигет подходящего состояния(есть сетевое соединение, диски смонтированы, базы данных запущены). Таким образом, когда система войдёт в режим полной функциональности (multi-user.target), твоя служба автоматически начнёт своё исполнение. Короче говоря, параметр WantedBy=multi-user.target говорит Systemd: «Автоматически включи мой сервис (sso.service), когда вся необходимая инфраструктура будет готова для полнофункциональной работы системы».